:root {
	/* Primary Color */
	--dark: black;
	--gray: #9B9B9B;
	--light: #E1E1E1;
	--bright: #F5F5F5;
	--highlight: #FF9B9B;

	/* Secondary Color */
	--c-default: var(--dark);
	--c-f-default: var(--light);
	--c-highlight: var(--highlight);
	--c-bright: var(--bright);

	/* font */
	--f-default: 'Libre Baskerville', serif;
	--fs-default: 24px;
	--f-bold: 700;
	--letter-space-s: 0.8px;
	--letter-space-default: var(--letter-space-s);
	--line-height-p: 42px;

	/* container */
	--wrapper: 1240px;
	--wrapper-ratio: 80vw;
	--wrapper-ratio-m: 88vw;
	--wrapper-default: var(--wrapper-ratio);
	--gutter: 24px;
	--content-margin: 6.5vh;
	--col-width: calc((var(--wrapper-default) - (var(--gutter)*11))/12);

	/* partials */
	--header-height: 12vh;
	--header-height-mobile: 8vh;
}

@custom-media --below-large (width <= 1600px);
@custom-media --below-medium (width <= 1280px);
@custom-media --below-desktop (width <= 1024px);
@custom-media --below-small (width <= 850px);
@custom-media --below-tablet (width <= 768px);
@custom-media --below-mobile (width <= 550px);

@custom-media --above-large (width > 1600px);
@custom-media --above-medium (width > 1280px);
@custom-media --above-desktop (width > 1024px);
@custom-media --above-small (width > 850px);
@custom-media --above-tablet (width > 768px);
@custom-media --above-mobile (width > 550px);
