@import '_reset';
@import '_variables';

html, body, .app {
	font-family: var(--f-default);
	background-color: var(--c-default);
	color: var(--c-f-default);
}

.container {
	width: var(--wrapper-default);
	max-width: var(--wrapper-default);
	margin: 0 auto;
}

a {
	color: var(--c-f-default);
}